<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <%- include layout/head %>
</head>

<body>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <div class='container'>
        <%- include layout/nav %>
        <div class="panel panel-default">
            <div class="panel-heading">
                Users
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>First_Name</th>
                                <th>Last_Name</th>
                                <th>Create Time</th>
                                <th>Update Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data && data.users){%>
                            <% for(var i=0;i<data.users.length;i++){%>
                            <tr>

                                <td> <%= data.users[i].id%> </td>
                                <td> <%= data.users[i].email%> </td>
                                <td> <%= data.users[i].first_name%> </td>
                                <td> <%= data.users[i].last_name%> </td>
                                <td> <%= data.users[i].created_at%> </td>
                                <td> <%= data.users[i].updated_at%> </td>
                            </tr>
                            <%}%>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>

</html>